{% extends 'base.html.twig' %}

{% block title %}New Record
{% endblock %}

{% block body %}

	{{ include('record/_form.html.twig') }}

	<a class="btn btn-primary m-1" href="{{ path('app_record_index') }}">Back to list</a>

{% endblock %}
