<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				{{ 'project_name'|trans }}
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body class="g-sidenav-show bg-gray-100">
		<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
			<nav class="navbar navbar-main navbar-expand-lg mx-5 px-0 shadow-none rounded" id="navbarBlur" navbar-scroll="false">
				<div class="container-fluid py-1 px-2"> {% block breadcrumb %}{% endblock %}
					{% include 'layouts/_navbar.html.twig' %}
				</div>
			</nav>
			{% include "layouts/_flash.html.twig" %}
			<div class="container-fluid py-4 px-5"> {% block body %}{% endblock %}
				</div>
			</main>
		</body>
	</html>
