{% extends 'base.html.twig' %}

{% block title %}List
{% endblock %}

{% block body %}
	<div class="h2"></div>
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Rate</th>
				<th scope="col">Remark</th>
				<th scope="col">User</th>
			</tr>
		</thead>
		<tbody>
			{% for record in records %}
				<tr>
					<td>{{ record.name }}</td>
					<td>{{ record.rate }}
						/ 100</td>
					<td>{{ record.remark }}</td>
					<td>{{ record.owner.username }}</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4" class="text-center">No records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
